/* default css */

* {
  background-color: black;
  color: aliceblue;
  font-size: large;
  font-family: "Roboto";
}

.container {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  gap: 4vh;
}

button {
  justify-self: center;
  height: fit-content;
  width: fit-content;
}

img {
  justify-self: center;
  height: fit-content;
  width: fit-content;
}

input {
  justify-self: center;
  height: fit-content;
  width: fit-content;
}
